
<div style="text-align:center">
  <h2>Counter Value: {{count}} </h2>
</div>
<div style="text-align:center; margin-top: 10px">
  <button (click)="onAddCount(1)" value="click">Increment 1</button>
</div>
<div style="text-align:center; margin-top: 10px">
  <button (click)="onAddCount(10)" value="click">Increment 10</button>
</div>
<div style="text-align:center; margin-top: 10px">
  <button (click)="onDecrementCount(1)" value="click">Decrement 1</button>
</div>
<div style="text-align:center; margin-top: 10px">
  <button (click)="onDecrementCount(10)" value="click">Decrement 10</button>
</div>

